<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="production">
            <h2><span jhiTranslate="mySampleApp.production.detail.title">Production</span> {{ production.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySampleApp.production.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mySampleApp.ProductionStatus.' + production.status }}">{{ production.status }}</span>
                </dd>
                <dt><span jhiTranslate="mySampleApp.production.transaction">Transaction</span></dt>
                <dd>
                    <div *ngIf="production.transaction">
                        <a [routerLink]="['/stock-transaction', production.transaction?.id, 'view']">{{ production.transaction?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/production', production.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
