<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-location-heading" jhiTranslate="mySampleApp.location.home.createOrEditLabel">Create or edit a Location</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.location.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Name' }">
                            This field should follow pattern for "Name".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.location.panNumber" for="field_panNumber">Pan Number</label>
                    <input type="text" class="form-control" name="panNumber" id="field_panNumber"
                           formControlName="panNumber"/>
                    <div *ngIf="editForm.get('panNumber')!.invalid && (editForm.get('panNumber')!.dirty || editForm.get('panNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('panNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('panNumber')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.location.gstNumber" for="field_gstNumber">Gst Number</label>
                    <input type="text" class="form-control" name="gstNumber" id="field_gstNumber"
                           formControlName="gstNumber"/>
                    <div *ngIf="editForm.get('gstNumber')!.invalid && (editForm.get('gstNumber')!.dirty || editForm.get('gstNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gstNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gstNumber')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.location.contact" for="field_contact">Contact</label>
                    <select class="form-control" id="field_contact" name="contact" formControlName="contact">
                        <option *ngIf="!editForm.get('contact')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="contactOption.id === editForm.get('contact')!.value?.id ? editForm.get('contact')!.value : contactOption" *ngFor="let contactOption of contacts; trackBy: trackById">{{ contactOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('contact')!.invalid && (editForm.get('contact')!.dirty || editForm.get('contact')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('contact')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.location.counterParty" for="field_counterParty">Counter Party</label>
                    <select class="form-control" id="field_counterParty" name="counterParty" formControlName="counterParty">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="counterPartyOption.id === editForm.get('counterParty')!.value?.id ? editForm.get('counterParty')!.value : counterPartyOption" *ngFor="let counterPartyOption of counterparties; trackBy: trackById">{{ counterPartyOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
