<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySampleApp.stockTransaction.home.title">Stock Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock-transaction" [routerLink]="['/stock-transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mySampleApp.stockTransaction.home.createLabel">
            Create a new Stock Transaction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="stockTransactions?.length === 0">
        <span jhiTranslate="mySampleApp.stockTransaction.home.notFound">No stockTransactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="stockTransactions && stockTransactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="mySampleApp.stockTransaction.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="mySampleApp.stockTransaction.transactionDate">Transaction Date</span></th>
                    <th scope="col" ><span jhiTranslate="mySampleApp.stockTransaction.transactionType">Transaction Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stockTransaction of stockTransactions ;trackBy: trackId">
                    <td><a [routerLink]="['/stock-transaction', stockTransaction.id, 'view']">{{ stockTransaction.id }}</a></td>
                    <td>{{ stockTransaction.description }}</td>
                    <td>{{ stockTransaction.transactionDate | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'mySampleApp.StockTransactionType.' + stockTransaction.transactionType }}">{{ stockTransaction.transactionType }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/stock-transaction', stockTransaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/stock-transaction', stockTransaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(stockTransaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
