<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-city-heading" jhiTranslate="mySampleApp.city.home.createOrEditLabel">Create or edit a City</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.city.cityName" for="field_cityName">City Name</label>
                    <input type="text" class="form-control" name="cityName" id="field_cityName"
                           formControlName="cityName"/>
                    <div *ngIf="editForm.get('cityName')!.invalid && (editForm.get('cityName')!.dirty || editForm.get('cityName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cityName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cityName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cityName')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'City Name' }">
                            This field should follow pattern for "City Name".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.city.stateName" for="field_stateName">State Name</label>
                    <input type="text" class="form-control" name="stateName" id="field_stateName"
                           formControlName="stateName"/>
                    <div *ngIf="editForm.get('stateName')!.invalid && (editForm.get('stateName')!.dirty || editForm.get('stateName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateName')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'State Name' }">
                            This field should follow pattern for "State Name".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySampleApp.city.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="country">
                        <option *ngIf="!editForm.get('country')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.countryName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('country')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
